<table>
  <tbody>
  
  <div class="container" id="about_container">
      <section>
          <h1>About:</h1>
          <p>
              S.M.A.R.T. is a simple web application with the intention of assisting users in creating goals that are S.M.A.R.T.
          </p>
          
      </section>
      <section >
          <h1>Who we are:</h1>
          <p>
              We are a team of computer scientist from Texas A&M University.
          </p>
      </section>
      <section>
          <h4>Devan Huapaya:</h4>
          <p>
             User experience enthusiast. Maker of pretty things.
          </p>
      </section>
      <section >
          <h4>Wesley Vance:</h4>
          <p>
            System integrator. Builder of rails. Mac user.
          </p>
      </section>
      <section>
          <h4>Derek Freak:</h4>
          <p>
            Database strongman. An elephant with a well formated database never forgets!
          </p>
      </section>
  </div>
    
</tbody>
</table>

