<table>
  <tbody>

 <div class="index-body" >
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
              <div class="container">
                  <p>
                    <span class="smart_title">S.M.A.R.T.</span>
                    Goals.
                  </p>
                  <%= link_to 'Login &raquo;'.html_safe, new_user_session_path, :class=>"btn-lg"%>
              </div>
            </div>

            <div id="index_container">
              <!-- Example row of columns -->
              <div class="row">
                <div class="col-lg-4">
                  <h2>What we can help you with:</h2>
                  <p>
                      We can help you set goals that are Specific. Measurable. Attainable. Realistic. and Timely.
                  </p>
                </div>

              </div>

              <hr>

              <footer id="index_footer">
                <p>&copy; Pony Love 2014</p>
              </footer>
            </div> 

  </tbody>
</table>

