<table>
  <tbody>

<div class="container" id="main_container">
      <p>
        <span id="your_goals">Your goals:</span>
      </p>
    <ul id="goals-progress">
        <li id="goal-one">
<!--            <div id="goal-container-1" class="goal-container">
                <div class="progress-bar"></div>
                <div class="time-bar"></div>
                <div class="goal-text">-->
                    Loose Three Pounds
<!--                </div>
            </div>-->
        </li>
        <li id="goal-two">
            Defeat the Huns
        </li>
        <li id="goal-three">
            Find Purpose
        </li>
    </ul>
      
      <div id="icon">
        <span class="icon-plus"></span> 
      </div>
    
  </div>
  
  </tbody>
</table>

