<table>
  <tbody>

    <div class="container">
      <p>
        <span class="smart-title">Social</span>
      </p>
      <ul class="goals">
        <li>
            Goal 
        </li>
        <li>
            Goal 2
        </li>
        <li>
            Goal 3
        </li>
    </ul>
  </div>
  </tbody>
</table>

